.bg {
  height: 100vh;
  width: 100vw;
  background: var(
    --sfondo-home,
    radial-gradient(
      165.01% 59.17% at 50% 47.78%,
      #0094cc 0%,
      #99d6ea 0.01%,
      #fff 100%
    )
  );
}

// Header Home
.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  .head {
    display: flex;
    justify-content: space-between;
    li {
      margin: 0 40px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    a {
      color: $primaryColor;
      font-size: $fontSizeLarge;
      font-family: $mainFontBold;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
    }
    a::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: $primaryColor;
      border-radius: 20px;
      scale: 0;
      transform-origin: right;
      transition: scale 0.5s;
    }
    a:hover::before {
      scale: 1;
      transform-origin: left;
      height: 2px;
    }
  }
}
