// Background
.bg {
  width: 100vw;
  background: var(
    --sfondo-home,
    radial-gradient(
      165.01% 59.17% at 50% 47.78%,
      #0094cc 0%,
      #99d6ea 0.01%,
      #fff 100%
    )
  );
  background-repeat: no-repeat;
}

// loading

.loading-screen {
  position: absolute;
  z-index: 100000;
  width: 100%;
  height: 100vh;
  background: var(
    --sfondo-home,
    radial-gradient(
      165.01% 59.17% at 50% 47.78%,
      #0094cc 0%,
      #99d6ea 0.01%,
      #fff 100%
    )
  );
  color: $primaryColor;
  overflow: hidden;
}
.loading-section {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
}

#loader {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-family: $mainFontBold, sans-serif;
  img {
    width: 40%;
  }
}

.transition-container {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 999999;
  pointer-events: none;
}
.transition-container span {
  position: relative;
}
.transition-container.from-left {
  flex-direction: column;
}
.transition-container.from-left span {
  background: var(
    --sfondo-home,
    radial-gradient(
      165.01% 59.17% at 50% 47.78%,
      #0094cc 0%,
      #99d6ea 0.01%,
      #fff 100%
    )
  );
  height: 100%;
  width: 0%;
}

// topbar

.topbar {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
  li {
    height: 30px;
    font-family: $mainFontBold;
    color: $primaryColor;
    font-size: 10px;
    text-transform: uppercase;
    display: flex;
    align-items: center;

    img {
      width: 20px;
      margin-right: 3px;
    }
    a {
      color: $primaryColor;
      text-decoration: none;
    }
  }
}

// general header

.grid,
.gridHome {
  display: none;
}

.hiddenTime {
  display: none;
}

.generalHeaderMobile {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .logo {
    padding-top: 10px;
    padding-left: 20px;
    img {
      width: 80%;
    }
  }
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: $mainFontRegular;
      color: $primaryColor;
      font-size: 26px;
      text-transform: uppercase;
    }
    a {
      color: $primaryColor;
      font-family: $mainFontBold;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
    }
  }
  .flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
    padding-right: 20px;
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

.generalHeader {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  .logo {
    padding-top: 10px;
    padding-left: 20px;
    img {
      width: 80%;
    }
  }
  .flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: $mainFontRegular;
      color: $primaryColor;
      font-size: 26px;
      text-transform: uppercase;
    }
    a {
      color: $primaryColor;
      font-family: $mainFontBold;
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
    }
  }
  .flexEnd {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 5px;
    padding-right: 20px;
    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}

// hamburger menù

.hamburger-blur {
  display: none;
  position: fixed;
  left: 0;
  backdrop-filter: blur(5px);
  width: 100vw;
  height: 100vh;
  z-index: 100;
}

.hamburger {
  display: none;
  position: fixed;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  .topbarHamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      font-family: $mainFontBold !important;
      color: $primaryColor !important;
      font-size: 10px !important;
      text-transform: uppercase !important;
      img {
        width: 20px;
        position: relative;
        top: 5px;
        margin-right: 3px;
      }
      a{
        font-family: $mainFontRegular;
        color: $primaryColor;
        font-size: $fontSizeSmall;
        text-align: center;
        text-decoration: none;
      }
     
    }
  }

  .hamburger-bg {
    background-color: $secondaryColor;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: center;

    button {
      background: none;
      border: none;
      position: fixed;
      top: 35px;
      right: 20px;
      cursor: pointer;
    }
    ul {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
    }
    a {
      color: transparent;
      -webkit-text-stroke: 1px $white;
      font-size: 44px;
      font-family: $mainFontBold;
      text-transform: uppercase;
    }
  }
}

// general footer
.custom-footer {
  margin-top: 60px;
}
footer {
  font-family: $mainFontBold;
  color: $primaryColor;
  display: flex;
  width: 100vw;
  text-align: center;
  gap: 20px;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

// home page

.video {
  position: relative;
  height: 60vh;
  .video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    margin-top: 1rem;
    //overflow: hidden;
    .single-video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .carusellButton{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 5000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      background: none;
      border: none;
      cursor: pointer;
      padding: 0 8px;

      svg{
        width: 30px;
        height: 30px;
      }
    }
  }

  .videoIndicator{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 4999;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 0.6rem;
    gap: 8px;

    .circle{
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $secondaryColor;
      transition: all 0.4s;
    }

    .circle-active{
      width: 30px;
      height: 10px;
      border-radius: 9999px;
      background-color: $secondaryColor;
    }
  }

  h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
  p {
    font-family: $mainFontRegular;
    color: $primaryColor;
    font-size: $fontSizeSmall;
  }
  h1{
    font-family: $mainFontBold;
    color: $primaryColor;
    font-size: $fontSizeLarge;
    text-transform: uppercase;
    padding-bottom: 12px;
  }
}
.strumentazioneMain {
  display: grid;
  grid-template-columns: 1fr;
  gap: 150px;
  margin: 20px 30px;
  .cardstrumentazione {
    position: relative;
    img {
      width: 100%;
      height: 100%;
      border-radius: 30px;
      object-fit: cover;
    }
  }
  .titlestrumentazione {
    color: $primaryColor;
    text-align: center;
    font-family: $mainFontBold;
    font-size: 30px;
    text-transform: uppercase;
    h2 {
      font-size: 30px;
    }
    p {
      text-transform: none;
      font-size: 18px;
    }
  }
}

.main-content {
  width: 100vw;
  .grid-2rows {
    display: grid;
    grid-template-rows: 1fr 1fr;
    .description {
      padding-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-bottom: 20px;
      p {
        font-family: $mainFontRegular;
        color: $primaryColor;
        font-size: $fontSizeSmall;
      }
    }
  }
  .link-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 10px;
    gap: 15px;
    text-align: center;
    .active {
      border-bottom: 3px solid $primaryColor;
    }
    a {
      color: $primaryColor;
      font-size: $fontSizeSmall;
      font-family: $mainFontBold;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
  .img-content {
    background-image: url(/assets/imgs/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 65vh;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: $mainFontBold;
      color: $white;
      font-size: 46px;
      text-transform: uppercase;
      text-align: center;
    }
  }
  .drone {
    position: relative;
    height: 65vh;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      position: absolute;
      font-family: $mainFontBold;
      color: $white;
      font-size: 46px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}

// specializzazioni

.grid-2columns {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .grid-2columns-left {
    img {
      width: 100%;
      border-radius: 30px;
      padding: 0 5px;
    }
    margin-bottom: 20px;
  }
  .grid-2columns-right {
    text-align: center;
    font-size: $fontSizeSmall;
    font-family: $mainFontRegular;
    color: $primaryColor;
  }
}

// staff

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  overflow-x: hidden;
  overflow-y: hidden;

  ::-webkit-scrollbar {
    width: 0px;
  }

  .grid-cards {
    padding-top: 20px;
    display: flex;
    align-items: center;
    height: 65vh;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 30px;
    height: 60vh;
    width: 60vw;
    transition: all 0.8s;

    .open {
      width: 90vw;
    }

    .staff-details {
      display: none;
      position: absolute;
      bottom: 5%;
      text-align: center;

      h3 {
        font-family: $mainFontBold;
        color: white;
        font-size: $fontSizeExtraLarge;
        text-transform: uppercase;
        margin-bottom: 5px;
      }

      p {
        font-family: $mainFontRegular;
        color: white;
        font-size: $fontSizeMedium;
      }
    }
    .staff-details-show {
      display: block;
    }

    img {
      position: relative;
      border: 1px solid white;
      border-radius: 30px;
      object-fit: cover;
      height: 60vh;
      width: 60vw;
      transition: all 0.8s;
      cursor: pointer;
    }
  }
  .open {
    width: 90vw;
  }
}
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    font-family: $mainFontRegular;
    font-size: $fontSizeMedium;
    color: $primaryColor;
    text-transform: uppercase;
  }
}

// contatti

.contatti {
  display: flex;
  flex-direction: column;
  height: 120vh;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
  .contattiLeft {
    display: flex;
    justify-content: center;
    align-items: center;
    .formGroup {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      input {
        width: 100%;
        height: 55px;
        border: none;
        border-radius: 30px;
        margin-top: 20px;
        font-family: $mainFontRegular;
        color: $primaryColor;
        font-size: $fontSizeMedium;
        background: #fff;
        padding-left: 20px;
      }
      textarea {
        width: 100%;
        height: 120px;
        border: none;
        border-radius: 30px;
        margin-top: 20px;
        font-family: $mainFontRegular;
        color: $primaryColor;
        font-size: $fontSizeMedium;
        background: #fff;
        padding-left: 20px;
        padding-top: 10px;
      }
      button {
        width: 100%;
        height: 50px;
        border: none;
        border-radius: 30px;
        margin-top: 20px;
        font-family: $mainFontRegular;
        color: #fff;
        font-size: $fontSizeMedium;
        background: $primaryColor;
        box-shadow: 2px 2px 0px 1px $secondaryColor;
        cursor: pointer;
        transition: all 0.8s;
      }
      .checkbox {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-top: 20px;
        input {
          margin-right: 10px;
          height: 20px;
          width: 20px;
          margin-top: 0px;
        }
        label {
          font-family: $mainFontRegular;
          color: $primaryColor;
          font-size: $fontSizeSmall;
        }
      }
      .recaptcha {
        margin-top: 20px;
      }
    }
  }
  .contattiRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
      font-family: $mainFontRegular;
      color: $primaryColor;
      font-size: $fontSizeSmall;
      text-align: center;
    }
    .contattiRightTop {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      iframe {
        width: 100%;
        height: 300px;
        border-radius: 30px;
      }
    }
    .contattiRightBottom {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      .contattiRightBottomLeft {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          font-family: $mainFontRegular;
          color: $primaryColor;
          font-size: $fontSizeSmall;
          text-align: center;
          margin-top: 10px;
        }
      }
      .contattiRightBottomRight {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
          font-family: $mainFontRegular !important;
          color: $primaryColor !important;
          font-size: $fontSizeSmall !important;
          text-align: center !important;
          margin-top: 10px !important;
        }
        img {
          margin-right: 5px;
          height: 30px;
          width: 30px;
        }
        a{
          
          color: $primaryColor;
          font-size: $fontSizeSmall;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
  .orari {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      margin-right: 5px;
      height: 30px;
      width: 30px;
    }
  }
}

// struttura

.pianoterra {
  display: flex;
  justify-content: center;
  align-items: center;
  .hiddenMobile {
    display: none;
  }
  .hiddenDesktop {
    display: block;
  }
}

.primopiano {
  display: flex;
  justify-content: center;
  align-items: center;
  .hiddenDesktop {
    display: block;
  }
  .hiddenMobile {
    display: none;
  }
  svg {
    transform: translate(6%);
  }
}

.secondopiano {
  display: flex;
  justify-content: center;
  align-items: center;
  .hiddenDesktop {
    display: block;
  }
  .hiddenMobile {
    display: none;
  }
  svg {
    transform: translate(6%);
  }
}
 // FabioTestingStuff
 .structure-modal{
  background-image: url();
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;

  #structureButtons{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button{
      background: none;
      border: none;
      cursor: pointer;

      svg{
        width: 30px;
        height: 30px;
      }
    }
  }
}
// FabioTestingStuff

/* .deposito-centrale-open {
  background-image: url(/assets/imgs/struttura/deposito-centrale2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.deposito-pulito-open {
  background-image: url(/assets/imgs/struttura/deposito-pulito.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.sala-operatoria-open {
  background-image: url(/assets/imgs/struttura/sala-operatoria1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.sala-operatoria2-open {
  background-image: url(/assets/imgs/struttura/sala-operatoria2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.sala-rx-open {
  background-image: url(/assets/imgs/struttura/sala-rxint.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.sala-tac-open {
  background-image: url(/assets/imgs/struttura/tac.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.sala-controllo-tac-open {
  background-image: url(/assets/imgs/struttura/controllo-tac.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.ingresso-open {
  background-image: url(/assets/imgs/struttura/ingresso.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.degenza-cani-open {
  background-image: url(/assets/imgs/struttura/degenza-cani.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}

.sala-risveglio-open {
  background-image: url(/assets/imgs/struttura/sala-risveglio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}

.terapia-intesiva-open {
  background-image: url(/assets/imgs/struttura/terapia-intensiva.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}

.degenza-gatti-open {
  background-image: url(/assets/imgs/struttura/degenza-gatti.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}

.degenza-cani-grande-open {
  background-image: url(/assets/imgs/struttura/degenza-cani3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}

.degenza-infettivi-open {
  background-image: url(/assets/imgs/struttura/degenza-infettivi.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.laboratorio-open {
  background-image: url(/assets/imgs/struttura/laboratorio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.somministrazione-chemio-open {
  background-image: url(/assets/imgs/struttura/somministrazione-chemio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.preparazione-chemio-open {
  background-image: url(/assets/imgs/struttura/preparazione-chemio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.ambulatorio-oncologi-open {
  background-image: url(/assets/imgs/struttura/ambulatorio-oncologi.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.sala-eco-open {
  background-image: url(/assets/imgs/struttura/sala-ecogg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.preparazione-operazione-open {
  background-image: url(/assets/imgs/struttura/preparazione-operazione3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.ascensore-open {
  background-image: url(/assets/imgs/struttura/ascensore.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}

.reception-open {
  background-image: url(/assets/imgs/struttura/reception.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.ambulatorio-open {
  background-image: url(/assets/imgs/struttura/ambulatorio1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.ambulatorio2-open {
  background-image: url(/assets/imgs/struttura/ambulatorio2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.ambulatorio3-open {
  background-image: url(/assets/imgs/struttura/ambulatorio3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.sala-attesa-cani-open {
  background-image: url(/assets/imgs/struttura/sala-attesa-cani.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.sala-attesa-gatti-open {
  background-image: url(/assets/imgs/struttura/sala-attesa-gatti.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.sala-riunioni-open {
  background-image: url(/assets/imgs/struttura/sala-riunioni.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.ufficio-imperatore-open {
  background-image: url(/assets/imgs/struttura/ufficio-imperatore.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.ufficio-open {
  background-image: url(/assets/imgs/struttura/ufficio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.spogliatoio-open {
  background-image: url(/assets/imgs/struttura/spogliatoio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
}
.spogliatoio2-open {
  background-image: url(/assets/imgs/struttura/spogliatoio.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin: 30px;
  border-radius: 30px;
} */

// modale struttura

.close-modal {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.roomtitle {
  text-align: center;
  text-transform: uppercase;
  font-family: $mainFontBold;
  font-size: $fontSizeLarge;
  color: $primaryColor;
}

//icon social

.social {
  gap: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 25px;
    height: 25px;
  }
}

// form vet

.formVet {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  .formtitle {
    display: flex;
    justify-content: start;
    text-align: left;
    text-transform: uppercase;
    font-family: $mainFontBold;
    font-size: $fontSizeLarge;
    color: $primaryColor;
  }
  form {
    width: 80%;
    display: flex;
    flex-direction: column;

    .grid2 {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
    }
    h3 {
      font-family: $mainFontBold;
      color: $primaryColor;
      font-size: 24px;
      text-transform: uppercase;
      margin: 60px 40px 20px;
    }
    p {
      font-family: $mainFontRegular;
      color: $primaryColor;
      font-size: $fontSizeMedium;
      text-align: center;
    }
    input {
      width: 100%;
      height: 55px;
      border: none;
      border-radius: 30px;
      margin-top: 20px;
      padding-left: 20px;
      font-family: $mainFontRegular;
      color: $primaryColor;
      font-size: $fontSizeMedium;
      background: #fff;
    }
    select {
      width: 100%;
      height: 55px;
      border: none;
      border-radius: 30px;
      margin-top: 20px;
      padding-left: 20px;
      font-family: $mainFontRegular;
      color: $primaryColor;
      font-size: $fontSizeMedium;
      background: #fff;
    }
    textarea {
      width: 100%;
      height: 120px;
      border: none;
      border-radius: 30px;
      margin-top: 20px;
      padding-left: 20px;
      font-family: $mainFontRegular;
      color: $primaryColor;
      font-size: $fontSizeMedium;
      background: #fff;
    }
    h4{
      font-family: $mainFontBold;
      color: $primaryColor;
      font-size: 24px;
      text-transform: uppercase;
      margin: 60px 0 0 40px;
    }
    .button {
      width: 100%;
      height: 50px;
      border: none;
      border-radius: 30px;
      margin-top: 20px;
      font-family: $mainFontRegular;
      color: #fff;
      font-size: $fontSizeMedium;
      background: $primaryColor;
      box-shadow: 2px 2px 0px 1px $secondaryColor;
      cursor: pointer;
      transition: all 0.8s;
    }
    .button:hover {
      box-shadow: 2px 2px 0px 1px $primaryColor;
      background-color: $secondaryColor;
      color: $primaryColor;
    }
    .checkbox {
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-top: 20px;
      input {
        margin-right: 10px;
        height: 20px;
        width: 20px;
        margin-top: 0px;
      }
      label {
        font-family: $mainFontRegular;
        color: $primaryColor;
        font-size: $fontSizeSmall;
      }
    }
    .recaptcha {
      margin-top: 20px;
    }
    input[type="file"] {
      margin-top: 20px;
      background-color: rgba(255, 255, 255, 0);
      button {
        color: red;
      }
    }
  }
}
