* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul li,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

@font-face {
  font-family: "MainFontRegular";
  src: url("/assets/fonts/PTSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MainFontBold";
  src: url("/assets/fonts/PTSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "MainFontItalic";
  src: url("/assets/fonts/PTSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "MainFontBoldItalic";
  src: url("/assets/fonts/PTSans-BoldItalic.ttf") format("truetype");
}
.bg {
  height: 100vh;
  width: 100vw;
  background: var(--sfondo-home, radial-gradient(165.01% 59.17% at 50% 47.78%, #0094cc 0%, #99d6ea 0.01%, #fff 100%));
}

.grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  height: 10vh;
}
.grid .logo {
  padding-left: 20px;
}
.grid .logo img {
  width: 60%;
}
.grid .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid .head li {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.grid .head li:nth-child(6) {
  padding-right: 40px;
}
.grid .head .active {
  border-bottom: 3px solid #30277D;
}
.grid .head a {
  color: #30277D;
  font-size: 18px;
  font-family: "MainFontBold", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}
.grid .head a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #30277D;
  border-radius: 20px;
  scale: 0;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: scale 0.5s;
  transition: scale 0.5s;
}
.grid .head a:hover::before {
  scale: 1;
  -webkit-transform-origin: left;
          transform-origin: left;
  height: 2px;
}

.video {
  height: 85vh;
}

footer {
  height: 5vh;
  padding: 0px 20px 0px 20px;
  font-family: "MainFontBold", sans-serif;
  color: #30277D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.generalHeader {
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}
.generalHeader .logo {
  padding-left: 20px;
}
.generalHeader .logo img {
  width: 30%;
}
.generalHeader .flexCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.generalHeader .flexCenter h1 {
  font-family: "MainFontBold", sans-serif;
  color: #30277D;
  font-size: 60px;
  text-transform: uppercase;
}
.generalHeader .flexEnd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 20px;
}
.generalHeader .flexEnd button {
  background: none;
  border: none;
}/*# sourceMappingURL=style.css.map */